node_modules
.vs
bin
obj
cache
./modules*
*.log
*.dll
AltV.Net.Host.runtimeconfig.json
altv-server.*
data
altv-dev-tools-master
dist
package-lock.json
altv-server/resources/dev-tools
altv-server/resources/freeroam
altv-server/resources/chat
altv-server/resources/voice
altv-server/resources/iron-core/server/*
altv-server/resources/iron-core/client/*